---
---

@import "{{ site.theme }}";

// DO NOT DELETE THE ABOVE LINES

.container-lg {
  max-width: 1512px;
}

.playbook-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;

  > nav {
    padding-right: 20px;
    min-width: 200px;

    > ul {
      list-style: none;
    }
  }
}
